/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Dorsa';
        src: url('./assets/fonts/Dorsa/Dorsa-Regular.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Josefin';
        src: url('./assets/fonts/Josefin/JosefinSans-Light.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Roboto';
        src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Roboto-Light';
        src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Roboto-Bold';
        src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Inter-Medium';
        src: url('./assets/fonts/Inter/Inter-Medium.ttf') format("truetype");
    }
}

@layer components {
    .close-faq {
        @apply border py-4 px-6 rounded-md border-sixth
        shadow;
    }
    .open-faq {
        @apply border py-4 px-6 bg-sixth rounded-md;
    }
}